.button-game{
  font-size: xx-large;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.red{
  background-color: tomato;
}
.green {
  background-color: lime;
}

.blue{
  background-color: aqua;
}